.edit-back-to-top {
    box-sizing: border-box;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 1050;
    padding: 0 6px;
    width: 24px;
    background: #222;
    font-size: 12px;
    opacity: 0.6;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition-property: bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.edit-back-to-top:hover {
    color: #fc6423;
}